 {{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login In</h2>
    <form action="/login" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
    </form>
    
    <a href="/signup">Make a new account</a>
</body>
</html> --}}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="style.css">
    <style>
      h2{
        text-align: center;
      }
    

    </style>
    
</head>

<body>
    <h1 class="name">Digital Library</h1>
   <img class="image-responsive" src="book image.avif" alt="book image">
<div class="loginform">
<div class="login-container">
 <h2>Login</h2>
  <form action="/login" method="post">
    <input type="text" name="name" class="login-input" placeholder="Name" required>
    <input type="password" name="password" class="login-input" placeholder="Password" required>
    <input type="submit"class="login-button">
        <a href="/signup">Make a new account</a> 

  </form>
</div>
</div>
</div>
    
</body>
</html> 
{{!-- <input type="submit" class="login-button">Login</button> --}}