<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color: rgba(137, 246, 190, 0.785);
    }
    .container1 {
      display: flex;
      margin: 15px 0px;
    }
    .container2 {
      display: flex;
      margin: 15px 0px;
    }
    .container3 {
      display: flex;
      margin: 15px 0px;
    }
    .container4 {
      display: flex;
      margin: 15px 0px;
    }
    .card {
      height: 400px;
      border: 2px solid black;
      margin-left: 30px;
      justify-content: center;
      /* align-items: center; */
    }
    img {
      height: 200px;
    }
    .btn {
      align-items: end;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div class="container1">
    <div class="card" style="width: 13rem;">
      <img src="book image 1.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">A suitable Boy</h5>
        <p class="card-text">Written by Vikram Seth</p>
        <a href="A Suitable Boy - PDF Room.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 2.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">AfterParties Stories</h5>
        <p class="card-text">Written by Anthony Veasna So</p>
        <a href="Afterparties - Anthony Veasna So.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 3.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Black Sheep</h5>
        <p class="card-text">Written by Rachel Harrision.</p>
        <a href="Black Sheep - Rachel Harrison.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 4.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Don Quixote</h5>
        <p class="card-text">Written by Miguel de Cervantes.</p>
        <a href="Don Quixote - Miguel De Cervantes.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 5.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Everyone has A story Savi Sharma</h5>
        <p class="card-text">Written by Savi Sharma.</p>
        <a href="Everyone Has A Story Savi Sharma - Savi Sharma.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 6.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Fasting Feasting</h5>
        <p class="card-text">Written by Anita Desai.</p>
        <a href="Fasting Feasting - Anita Desai.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
  </div>
  <div class="container2">
    <div class="card" style="width: 13rem;">
      <img src="book image 7.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Hamlet</h5>
        <p class="card-text">Written by William Shakesphere.</p>
        <a href="hamlet.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>

    <div class="card" style="width: 13rem;">
      <img src="book image 8.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">In Search of Lost Time</h5>
        <p class="card-text">Written by Marcel Proust .</p>
        <a href="In Search of Lost Time - PDF Room.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 9.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Midnight Children</h5>
        <p class="card-text">Written by Salman Rushdie .</p>
        <a href="Midnights Children - Salman Rushdie.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div>
    <br>
    <div class="card" style="width: 13rem;">
      <img src="book image 10.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">One Hundred Years of Solitude</h5>
        <p class="card-text">Written by Salman Rushdie .</p>
        <a href="One Hundred Years of Solitude - Gabriel Garcia Marquez.pdf" class="btn btn-primary"
          target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 11.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">One Indian Girl</h5>
        <p class="card-text">Written by Chetan Bhagat .</p>
        <a href="One Indian Girl Free PDF by Chetan Bhagat - PDF Room.pdf" class="btn btn-primary"
          target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 12.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Immortals of Meluha</h5>
        <p class="card-text">Written by Amish Tripathi .</p>
        <a href="Shiva trilogy book01 the immortals Of meluha.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
  </div>
  <div class="container3">
    <div class="card" style="width: 13rem;">
      <img src="book image 13.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Girl Who knew Too Much</h5>
        <p class="card-text">Written by Vikrant Khanna .</p>
        <a href="The Girl Who Knew Too Much  What if the lo - Vikrant_Khanna.pdf" class="btn btn-primary"
          target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 14.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Great Gatsby</h5>
        <p class="card-text">Written by F Scott Fitzgerald .</p>
        <a href="The Great Gatsby - F Scott Fitzgerald.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 15.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Life of the Mind</h5>
        <p class="card-text">Written by Christine Smallwood .</p>
        <a href="The Life of the Mind - Christine Smallwood.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 16.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Shadow Lines</h5>
        <p class="card-text">Written by Amitav Ghosh .</p>
        <a href="The Shadow Lines ( PDFDrive.com ).pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 17.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Guide</h5>
        <p class="card-text">Written by R. K. Narayan.</p>
        <a href="The-Guide-PDF.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 18.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Three Thousand Switches</h5>
        <p class="card-text">Written by Sudha Murty.</p>
        <a href="Three Thousand Stitches ( PDFDrive ).pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
  </div>
  <div class="container4">
    <div class="card" style="width: 13rem;">
      <img src="book image 19.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">War and Peace</h5>
        <p class="card-text">Written by Leo Tolstoy.</p>
        <a href="War and Peace - Leo Tolstoy.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 20.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Nineteen Eighty Four</h5>
        <p class="card-text">Written by Leo George Orwell.</p>
        <a href="Nineteen Eighty-Four - George Orwell.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 21.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Lord of the Rings</h5>
        <p class="card-text">Written by JRR Tolkien.</p>
        <a href="JRR Tolkien - Lord of the Rings Collection.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 22.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Adventures of Huckleberry Finn</h5>
        <p class="card-text">Written by Mark twain.</p>
        <a href="HuckFinn.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 23.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Crime and Punishment</h5>
        <p class="card-text">Written by Fyodor Dostoyevsky.</p>
        <a href="Crime and Punishment  A New Translation - Fyodor Dostoyevsky.pdf" class="btn btn-primary"
          target="_blank">Open</a>
      </div>
    </div><br>
    <div class="card" style="width: 13rem;">
      <img src="book image 24.png" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">The Lion teh Witchand the Wardrobe.</h5>
        <p class="card-text">Written by C.S.Lewis.</p>
        <a href="The Lion the Witch and the Wardrobe - CS Lewis.pdf" class="btn btn-primary" target="_blank">Open</a>
      </div>
    </div><br>
  </div>
</body>
</html>